* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #10e7dc;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    height: auto;
    header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding: 1em;
        @import "search.scss";
        nav {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            a {
                background: #10e7dc;
                color: white;
                font-size: 1.5em;
            }
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;

        .homepage_heading {
            width: 100%;
            padding: 1rem;
            text-align: center;
        }
        .index_news {
            text-align: center;
            width: 60%;
            min-height: 10rem;
            margin: 1rem;
            padding: 1rem;
            background: #0074e1;
        }
    }

    @import "input_field_&_button_style";
}
